# coin v2 config file
# any line starting with # is ignored

# screen size settings
slide_horizontal = 85
slide_vertical = 70

# file location settings
loc_database = F:/py-dev/coinv2/database
loc_scans = F:/py-dev/coinv2/images
loc_orders = F:/py-dev/coinv2/orders
loc_logs = F:/py-dev/coinv2/logs
loc_backups = F:/py-dev/coinv2/backup

# language settings
language_selected = GB

# Logging levels
main_log_level = DEBUG
sql_log_level = INFO
