# coin v2 config file
# any line starting with # is ignored

# screen size settings
slide_horizontal = 30
slide_vertical = 70

# file location settings
loc_database = F:/py-dev/coinv2/database
loc_scans = F:/py-dev/coinv2/images
loc_orders = F:/py-dev/coinv2/orders
loc_logs = F:/py-dev/coinv2/logs
loc_backups = F:/py-dev/coinv2/backup

# language settings
language_selected = GB

# Logging levels
main_log_level = DEBUG
sql_log_level = DEBUG

# Column show/hide settings
radio_private_index = Show
radio_index = Hide
radio_krause_index = Show
radio_denomination = Show
radio_valuta = Show
radio_country = Hide
radio_year = Show
radio_mmt = Show
radio_quality = Show
radio_remark = Show
radio_coinage = Show
radio_diameter = Show
radio_edge = Hide
radio_edgetext = Hide
radio_stiketype = Hide
radio_weight = Show
radio_designer = Hide
radio_frontside = Hide
radio_rearside = Hide
radio_material = Show
radio_rarity = Show
radio_frontjpg = Hide
radio_rearjpg = Hide
radio_serie = Show
radio_storage = Hide
radio_have = Show
radio_want = Show
radio_ordered = Show
radio_sale = Show
radio_other = Hide
radio_supplier = Hide
radio_order = Hide
radio_price = Show
radio_mint = Hide
radio_mintmaster = Hide
radio_ruler = Show
